.container {
  position: absolute;
  top: 50%;
  left: 60%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 35%;
}
p.track {
  text-transform: uppercase;
  color: #FFF;
  text-align: center;
  padding-bottom: 40px;
}
p.track span {
  color: #FFF;
  margin-top: 10px;
  line-height: 16px;
  text-align: left;
}
button {
  background-color: rgba(255, 255, 255, 0);
  border: 1px solid #FFF;
  border-radius: 50%;
  color: #FFF;
  text-align: center;
  display: inline-block;
  vertical-align: middle;
  -webkit-transition: all 0.2s ease 0;
  transition: all 0.2s ease 0;
}
button[data-am-button^="large"] {
  width: 60px;
  height: 60px;
  margin: 0 5px;
}
button[data-am-button^="large"] i {
  font-size: 25px;
}
button[data-am-button^="small"] {
  width: 40px;
  height: 40px;
}
button[data-am-button^="small"] i {
  font-size: 14px;
}
button:hover {
  color: #999;
  border-color: #999;
}
button:focus {
  outline: none;
}
.progress-bar {
  width: 100%;
  background-color: #3a3b3f;
  height: 10px;
  position: relative;
  margin: 1.65em 0 0;
  float: right;
  border-radius: 5px;
}
.progress-bar .progress {
  background-color: #ff8e47;
  height: 10px;
  position: absolute;
  border-radius: 5px;
  left: 0;
  -webkit-transition: width 2.5s linear 0;
  transition: width 2.5s linear 0;
}


